.ui.borderless.topmenu.menu{
  background-color: #0087c7;
  box-shadow: none;
  height: 70px;
  color: white;
}

.ui.borderless.middle.menu{
  background-color: #0087c7;
  box-shadow: none;
  height: 40px;
  color: white;
}
.ui.borderless.middle.menu:hover{
  color: white;
  background-color: #0087c7;
}
#maniimg{
  margin-top: -15px;
}

#low{
  background-color: lightgrey;
  box-shadow: none;
  height: 40px;
  color: black;
  margin-bottom:0px;
}
#low>div>div>a{
  color:black;
  margin-left:15px;

}
#lowest>div>div>a{
  color:white;
  margin-top: 10px;
  margin-left: 15px;
}
#lowest{
  margin-top: 0px;
  background-color: #0087c7;
  box-shadow: none;
  height:40px;
  color: white;

}

.grad-background {
  background: url('//i.dell.com/sites/csimages/Banner_Imagery/all/25768-camera-arlo-pro-vms4230-software-mcafee-total-protection-security-appliance-sonicwall-tz300-2800x944.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  height: 600px;
  color: white;
  margin-top:-15px;
  margin-bottom:-15px;
}

#ph{
  background-color: white;
  height: 200px;
  width:  400px;
  margin-left: 200px;

}

#ad{
  background-color: white;
  height: 200px;
  width:  400px;
  color: #0087c7;
  margin-left:150px;
}